body {
  padding-top: 76px;
}

#canvas-container {
  display: flex;
  justify-content: center;
}

#buttons-container {
  padding: 20px 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirm-button {
  margin: 20px;
}

#arrow-buttons-container {
  display: flex;
  flex-direction: column;
}

#arrow-up-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#arrow-left-right-container {
  display: flex;
  align-items: center;
}

.arrow-left-button {
  margin-right: 20px;
}

.arrow-right-button {
  margin-left: 20px;
}

#arrow-down-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.icon-bubble {
  font-size: 32px;
  background-color: #343a40;
  color: white;
  padding: 3px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: #343a40 2px solid;
  box-sizing: content-box;
  cursor: pointer;
}

.icon-bubble > i {
  pointer-events: none;
}

.icon-bubble:active {
  background-color: white;
  color: #343a40;
}

@media only screen and (min-width: 960px) {
  .cancel-button,
  .confirm-button {
    padding: 9px 18px;
    font-size: 32px;
    border-radius: 10px;
  }

  .confirm-button {
    margin: 40px;
  }

  .icon-bubble {
    font-size: 64px;
    width: 64px;
    height: 64px;
  }

  .arrow-left-button {
    margin-right: 35px;
  }

  .arrow-right-button {
    margin-left: 35px;
  }
}
