h2 {
  font-family: monospace;
}

.story {
  color: black;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 100px;
}

#Introduction {
  margin-top: 20px;
  color: white;
  background-color: black;
  text-align: center;
  border-bottom: black;
  border-top: black;
  padding: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.attribution {
  padding: 50px;
  text-align: center;
}
