body{
    background-image:url("../asset/background2.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-color: rgb(55,245,175);
    /* background-color: linear-gradient(90deg, rgba(55,245,175,1) 46%, rgba(0,212,255,1) 100%); */
}


#main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.box_area{
    margin-top: 70px;
    padding:30px;
    border: solid black 2px;
    border-radius: 10px;
    background-color: whitesmoke;
    text-align: center;

}


h3{
    text-align: center;
}

.acc_button:hover{
    color: tomato;
}