
.main{
    margin-top:30vh;
}


.occ_box{
    text-align: center;
    cursor: pointer;
}



.occ_list:hover{
   color: tomato;
}

.details{
    margin:10px;
    padding:5px;
}
.container{
    font-family:monospace ;
    font-size: 30px;
    color:darkturquoise;
}

body,

html {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  width: 100%;
}

.GB {
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.GB path.letter {
  display: inline;
}

svg.GB path.letter.G {
  animation: color 1.6s linear both, G-entry 1.6s linear both;
}

svg.GB .letter.A {
  animation: color 1.6s linear .04s both, A-entry 1.6s linear both .04s;
}

svg.GB .letter.M {
  animation: color 1.6s linear .08s both, M-entry 1.6s linear both .08s;
}

svg.GB .letter.E {
  animation: color 1.6s linear .12s both, E-entry 1.6s linear both .12s;
}

svg.GB .letter.B {
  animation: color 1.6s linear .16s both, B-entry 1.6s linear both .16s;
}

svg.GB .letter.O {
  animation: color 1.6s linear .2s both, O-entry 1.6s linear both .2s;
}

svg.GB .letter.Y {
  animation: color 1.6s linear .24s both, Y-entry 1.6s linear both .24s;
}

#NINTENDO {
  transform: translate(-140px, -80px);
}
/*====ANIMATIONS====*/

@keyframes color {
  0% {
    fill: #fff;
  }
  13.52% {
    fill: #ff3dee;
  }
  37.04% {
    fill: #f96e09;
  }
  48.82% {
    fill: #f9fa2d;
  }
  66.48% {
    fill: #07f905;
  }
  90% {
    fill: #05f9f7;
  }
  100% {
    fill: #1733ff;
  }
}

@keyframes G-entry {
  0% {
    transform: scale(3.5) translate(-100px, 200px);
  }
  45% {
    transform: translate(50px, -80px)
  }
  50% {
    transform: translate(65px, -10px)
  }
  55% {
    transform: translate(60px, 0px)
  }
  60% {
    transform: translate(40px, 0px)
  }
  65% {
    transform: translate(20px, -20px)
  }
  70% {
    transform: scale(1) translateY(-40px);
  }
  80% {
    transform: translateY(-0px);
  }
  90% {
    transform: translateY(-20px);
  }
  100% {}
}

@keyframes A-entry {
  0% {
    transform: scale(3.5) translate(-80px, 200px);
  }
  45% {
    transform: translate(40px, -80px)
  }
  50% {
    transform: translate(55px, -10px)
  }
  55% {
    transform: translate(50px, 0px)
  }
  60% {
    transform: translate(30px, 0px)
  }
  65% {
    transform: translate(10px, -20px)
  }
  70% {
    transform: scale(1) translateY(-40px);
  }
  80% {
    transform: translateY(-0px);
  }
  90% {
    transform: translateY(-20px);
  }
  100% {}
}

@keyframes M-entry {
  0% {
    transform: scale(3.5) translate(-30px, 200px);
  }
  45% {
    transform: translate(20px, -80px)
  }
  50% {
    transform: translate(35px, -10px)
  }
  55% {
    transform: translate(30px, 0px)
  }
  60% {
    transform: translate(10px, 0px)
  }
  65% {
    transform: translate(00px, -20px)
  }
  70% {
    transform: scale(1) translateY(-40px);
  }
  80% {
    transform: translateY(-0px);
  }
  90% {
    transform: translateY(-20px);
  }
  100% {}
}

@keyframes E-entry {
  0% {
    transform: scale(3.5) translate(-30px, 200px);
  }
  45% {
    transform: translate(00px, -80px)
  }
  50% {
    transform: translate(15px, -10px)
  }
  55% {
    transform: translate(10px, 0px)
  }
  60% {
    transform: translate(00px, 0px)
  }
  65% {
    transform: translate(00px, -20px)
  }
  70% {
    transform: scale(1) translateY(-40px);
  }
  80% {
    transform: translateY(-0px);
  }
  90% {
    transform: translateY(-20px);
  }
  100% {}
}

@keyframes B-entry {
  0% {
    transform: scale(3.5) translate(-30px, 200px);
  }
  45% {
    transform: translate(00px, -80px)
  }
  50% {
    transform: translate(-15px, -10px)
  }
  55% {
    transform: translate(-10px, 0px)
  }
  60% {
    transform: translate(00px, 0px)
  }
  65% {
    transform: translate(00px, -20px)
  }
  70% {
    transform: scale(1) translateY(-40px);
  }
  80% {
    transform: translateY(-0px);
  }
  90% {
    transform: translateY(-20px);
  }
  100% {}
}

@keyframes O-entry {
  0% {
    transform: scale(3.5) translate(-30px, 200px);
  }
  45% {
    transform: translate(-20px, -80px)
  }
  50% {
    transform: translate(-35px, -10px)
  }
  55% {
    transform: translate(-30px, 0px)
  }
  60% {
    transform: translate(-10px, 0px)
  }
  65% {
    transform: translate(00px, -20px)
  }
  70% {
    transform: scale(1) translateY(-40px);
  }
  80% {
    transform: translateY(-0px);
  }
  90% {
    transform: translateY(-20px);
  }
  100% {}
}

@keyframes Y-entry {
  0% {
    transform: scale(3.5) translate(80px, 200px);
  }
  45% {
    transform: translate(-40px, -80px)
  }
  50% {
    transform: translate(-55px, -10px)
  }
  55% {
    transform: translate(-50px, 0px)
  }
  60% {
    transform: translate(-30px, 0px)
  }
  65% {
    transform: translate(-10px, -20px)
  }
  70% {
    transform: scale(1) translateY(-40px);
  }
  80% {
    transform: translateY(-0px);
  }
  90% {
    transform: translateY(-20px);
  }
  100% {}
}

@keyframes displayDefs {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.overlay0 {
  fill: #7C51A1;
  clip-path: url(#clipPathE);
}

.overlay1 {
  fill: #9E53A0;
  display: none;
}

.overlay2 {
  fill: #BF60A5;
  display: none;
}

.overlay3 {
  fill: #E3B2D3;
  display: none;
}
